# See http://help.github.com/ignore-files/ for more about ignoring files.
private_readme.md
# compiled output
/tmp
/sample
/.out

# not needed in deployment
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.editorconfig
/.storybook/
/angular.json
/deployment-package.json
/package-lock.json
/prettier.config.js
/tsconfig.json
/tslint.json
/wallaby.js
/temp-package.json
